[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = git@github.com:g-hanwen/hugo-theme-nostyleplease.git
[submodule "public"]
	path = public
	url = git@github.com:david206/david206.github.io.git
